<template>
  <sidebar-menu :menu="menu" id="side-menu" :collapsed="isMenuOpen" @update:collapsed="onToggleCollapse">
    <template v-slot:header>
      <img src="../assets/chiperLogo.png" class="p-15" style="width: 100%; height: 120px;" v-if="this.isMenuOpen == false || this.collapsedOnClick == false" />
      <img src="../assets/chiperLogoSmall.png" class="p-15" style="scale: 0.8; width: 100%; height: 75px;" v-if="this.isMenuOpen == true || this.collapsedOnClick == true" />
    </template>
  </sidebar-menu>
</template>

<script>
import { SidebarMenu } from "vue-sidebar-menu";
import "vue-sidebar-menu/dist/vue-sidebar-menu.css";
export default {
  name: "LeftMenu",
  props: ["level"], //外往內(components)傳
  components: {
    SidebarMenu,
  },
  data() {
    return {
      menu: [],
      isMenuOpen: false,
      collapsedOnClick: false,
      entireMenu: [
        {
          header: "巨普科技 - 高倍率光學系統倉儲管理系統",
          hiddenOnCollapse: true,
        },
        {
          href: "/Record",
          title: "領料登記",
          icon: "fa-solid fa-pen-alt",
          level: 1,
        },
        {
          href: "/Users",
          title: "使用者",
          icon: "fa-solid fa-users",
          level: 4,
        },
        {
          href: "/Material",
          title: "物料",
          icon: "fas fa-database",
          level: 2,
        },
        {
          href: "/Exchange",
          title: "料件交換登記",
          icon: "fa-solid fa-arrow-right-arrow-left",
          level: 2,
        },
        {
          href: "/ExchangeSum",
          title: "料件交換總表",
          icon: "fa-brands fa-stack-exchange",
          level: 2,
        },
        {
          href: "/Log",
          title: "歷史紀錄",
          icon: "fas fa-history",
          level: 2,
        },
        {
          href: "/Profile",
          title: "個人頁面",
          icon: "fa fa-user",
          level: 1,
        },
        {
          href: "/Login",
          title: "登出",
          icon: "fa fa-power-off",
          level: 1,
        },
      ],
    };
  },
  methods: {
    setMenu() {
      //level的權限限制可看的menu
      this.menu.push(this.entireMenu[0]);
      for (let i in this.entireMenu) {
        let menuItem = this.entireMenu[i];
        if (this.level >= menuItem.level) {
          this.menu.push(menuItem);
        }
      }
    },
    checkWinSize() {
      //視窗大小來控制sidebar-menu的縮合
      // console.log("checkWinSize")
      let width = window.innerWidth;
      // if (width > 1200) {
      if (width > 2000) {
        this.isMenuOpen = false;
        this.collapsedOnClick = false;
      } else {
        this.isMenuOpen = true;
        this.collapsedOnClick = true;
      }
    },
    onToggleCollapse(collapsed) {
      this.collapsedOnClick = collapsed;
      if (this.collapsedOnClick == true) {
        this.isMenuOpen = true;
      } else if (this.collapsedOnClick == false) {
        this.isMenuOpen = false;
      }
    },
  },
  beforeMount() {
    this.setMenu();
    this.checkWinSize();
  },
  created() {
    //先執行window的resize，function是checkWinSize
    window.addEventListener("resize", this.checkWinSize);
  },
  destroyed() {
    window.removeEventListener("resize", this.checkWinSize);
  },
};
</script>

<style>
.p-15 {
  padding: 15px;
}
#side-menu {
  background-color: #27293d;
}
</style>
