<template>
  <vue-final-modal v-slot="{ params, close }" v-bind="$attrs" classes="modal-container" content-class="modal-content" :esc-to-close="true">
    <span class="modal__title">
      <slot name="title"></slot>
    </span>
    <div class="modal__content">
      <div class="m-3 pl-5">
        <slot :params="params"></slot>
      </div>
    </div>
    <div class="modal__action">
      <button type="button" class="btn mr-3" @click="$emit('confirm', close)">
        確認
      </button>
      <button type="button" class="btn" @click="$emit('cancel', close)">
        取消
      </button>
    </div>
  </vue-final-modal>
</template>
<script>
export default {
  name: "Modal",
  inheritAttrs: false,
  emits: ["confirm", "cancel"],
};
</script>
<style scoped>
::v-deep(.modal-container) {
  display: flex;
  justify-content: center;
  align-items: center;
}
::v-deep(.modal-content) {
  position: relative;
  display: flex;
  width: 600px;
  flex-direction: column;
  max-height: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
  color: rgb(84, 84, 84);
}
.modal__title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0.8em 1em 0;
  color: inherit;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
  font-size: 18px;
}
.modal__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 0 0;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
</style>

<style scoped>
.dark-mode div ::v-deep(.modal-content) {
  border-color: #2d3748;
  background-color: #1a202c;
}
</style>
