<template>
  <div class="container">
    <h2>料件交換登記 Exchange</h2>

    <!-- 新增按鈕 -->
    <div>
      <button type="button" class="btn" @click="addExchangeModal">
        新增料件交換
      </button>
    </div>
    <br />

    <!-- 搜尋按鈕 -->
    <div class="row float-right search-section">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="以類型/圖號查詢" aria-label="Search" v-model="keywords" />
      </form>
      <button @click="search" class="btn ml-1">搜尋</button>
      <button v-if="searchBackBoolean == true && this.keywords !== ''" @click="searchBack" class="btn ml-1">返回</button>
    </div>
    <br />

    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="table-light">
        <tr>
          <th>類型</th>
          <th>圖號</th>
          <!-- <th>未換數量</th> -->
          <th>損壞數量</th>
          <th>已換數量</th>
          <th>送中科院</th>
          <th>登記者</th>
          <th>備註</th>
          <th>時間</th>
          <th v-show="loggedInUserLevel > 2" class="text-center">編輯</th>
          <th v-show="loggedInUserLevel > 2" class="text-center">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="exchange in exchanges" :key="exchange.id">
          <!-- key可以重新排序 -->
          <td>{{ exchange.category }}</td>
          <td>{{ exchange.name }}</td>
          <!-- <td>{{ exchange.ngqty - exchange.changedqty }}</td> 未換數量 -->
          <td>{{ exchange.ngqty }}</td>
          <td>{{ exchange.changedqty }}</td>
          <td>{{ exchange.otw }}</td>
          <td>{{ exchange.username }}</td>
          <td>{{ exchange.notes }}</td>
          <td>{{ exchange.datetime }}</td>

          <!-- 編輯按鈕 -->
          <td v-show="loggedInUserLevel > 2" class="text-center">
            <button type="button" class="btn" @click="editExchangeModal(exchange)">
              編輯
            </button>
          </td>

          <!-- 刪除按鈕 -->
          <td v-show="loggedInUserLevel > 2" class="text-center">
            <button type="button" class="btn" @click="deleteExchangeModal(exchange.id, exchange.category, exchange.name, exchange.ngqty, exchange.changedqty, exchange.otw)">
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 分頁按鈕 -->
    <paginate :page-count="totalPageNum" :page-range="3" :margin-pages="2" :click-handler="pageClick" :prev-text="'<'" :next-text="'>'" :container-class="'pagination'" :page-class="'page-item'"> </paginate>

    <!-- Add Popup modal -->
    <Modal v-model="showAdd" @confirm="add" @cancel="cancel">
      <template v-slot:title> 新增料件交換資訊 </template>
      <div>
        <div class="w-90 d-inline-block">類型：</div>
        <select class="swal2-select w-300 h-50P b-r-5 b-grey" id="category-input" v-model="selectedMaterialType">
          <option v-for="category in materialCategoryOptions" :value="category.val" :key="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div v-show="materialsOptions.length > 0">
        <div class="w-90 d-inline-block">圖號：</div>
        <select class="swal2-select w-300 h-50P b-r-5 b-grey" id="category-input" v-model="selectedMaterial">
          <option v-for="item in materialsOptions" :value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">* 所選圖名為：{{ selectedMaterialCode }}</span>
      <div>
        <div class="w-90 d-inline-block">損壞數量：</div>
        <input id="ngqty-input" class="swal2-input w-242" type="number" v-model="selectedNgQty" :min="1" />
      </div>
      <div>
        <div class="w-90 d-inline-block">已換數量：</div>
        <input id="changedqty-input" class="swal2-input w-242" type="number" v-model="selectedChangedQty" />
      </div>
      <!-- <span class="reminder" v-show="selectedNgQty != null">未換數量為：{{ selectedNgQty - selectedChangedQty }}</span> -->
      <div>
        <div class="w-90 d-inline-block">送中科院：</div>
        <input id="otwqty-input" class="swal2-input w-242" type="number" v-model="selectedOtwQty" />
      </div>
      <!-- <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">目前庫存數量：{{ maxQuantity }}</span> -->
      <br />
      <div>
        <div class="w-90 d-inline-block">登記者：</div>
        <select class="swal2-select w-300 h-50P b-r-5 b-grey" id="category-input" v-model="selectedUser">
          <option v-for="item in users" v-bind:value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <br />
      <div>
        <div class="w-90 d-inline-block">備註：</div>
        <textarea v-model="notes" class="swal2-textarea"></textarea>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <span class="error-msg">{{ modalErrorMsg }}</span>
        </div>
        <!-- Add Popup modal -->
      </div>
    </Modal>

    <!-- Edit Popup modal -->
    <Modal v-model="showEdit" @confirm="editExchange" @cancel="cancel">
      <template v-slot:title> 編輯登記資訊 </template>
      <div>
        <div class="w-90 d-inline-block">類型：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" id="category-input" v-model="selectedMaterialType" disabled>
          <option v-for="category in materialCategoryOptions" :value="category.val" :key="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div v-show="materialsOptions.length > 0">
        <div class="w-90 d-inline-block">圖號：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" v-model="selectedMaterial" disabled>
          <option v-for="item in materialsOptions" :value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">* 所選圖名為：{{ selectedMaterialCode }}</span>
      <div>
        <div class="w-90 d-inline-block">損壞數量：</div>
        <input id="ngqty-input" class="swal2-input w-242" type="number" v-model="selectedNgQty" :min="1" />
      </div>
      <div>
        <div class="w-90 d-inline-block">已換數量：</div>
        <input id="changedqty-input" class="swal2-input w-242" type="number" v-model="selectedChangedQty" />
      </div>
      <div>
        <div class="w-90 d-inline-block">送中科院：</div>
        <input id="otwqty-input" class="swal2-input w-242" type="number" v-model="selectedOtwQty" />
      </div>
      <!-- <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">目前庫存數量：{{ maxQuantity }}</span> -->
      <!-- <span class="reminder" v-show="selectedNgQty != null && selectedChangedQty != null">未換數量為：{{ selectedNgQty - selectedChangedQty }}</span> -->
      <br />
      <div>
        <div class="w-90 d-inline-block">登記者：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" v-model="selectedUser">
          <option v-for="item in dbUsers" v-bind:value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <br />
      <div>
        <div class="w-90 d-inline-block">備註：</div>
        <textarea id="notes-input" v-model="notes" class="swal2-textarea"></textarea>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <span class="error-msg">{{ modalErrorMsg }}</span>
        </div>
      </div>
    </Modal>
    <!-- Edit Popup modal -->
  </div>
</template>

<script>
import { getAllMaterials } from "../services/MaterialService";
import { getAllUsers } from "../services/UserService";
import { getLogginedUser } from "../services/LoginService";
import Modal from "../components/Modal";
import Paginate from "vuejs-paginate-next";
import { getExchangesOnKeywords, getTotalDataCountOnKeywords, addExchange, deleteExchange, editExchange } from "../services/ExchangeService";
import Swal from "sweetalert2";

export default {
  name: "Exchange",
  components: {
    paginate: Paginate,
    Modal,
  },
  data() {
    return {
      exchanges: [], //顯示在表單上的所有登記資料
      materials: [], // 後端回傳的所有『物料』
      materialCategoryOptions: [], //存取在Modal上『類型』的下拉式選單
      selectedMaterialType: 1, //存取使用者在Modal上選擇的『類型』
      materialsOptions: [], //存取在Modal上『物料編號』的下拉式選單
      selectedMaterial: "", //存取使用者在Modal上選擇的『物料編號』
      selectedQuantity: "", //存取使用者在Modal上輸入的『數量』
      beforeEditQuantity: 0, //存取在編輯Modal上修改前的數量
      dbUsers: [], // 用於存取後端回傳的所有使用者
      users: [], // 用於顯示登入使用者可以看到的使用者
      selectedUser: "", //存取使用者在Modal上輸入的『登記者』
      notes: "", //存取使用者在Modal上輸入的『備註』
      selectedId: "", //存取正在編輯的item id
      modalErrorMsg: "", //顯示在Modal得錯錯誤訊息
      keywords: "", //存取使用者輸入的關鍵字
      totalPageNum: 1, //存取登記資料的總頁數
      showAdd: false, //是否顯示新增登記
      showEdit: false, //是否顯示編輯登記
      loggedInUserLevel: 1, //存取登入使用者的使用層級
      loggedInUserId: 1, //存取登入使用者的ID
      maxQuantity: 1, //存取目前修改的物料庫存
      minQuantity: 0, // 庫存編輯的最小數量
      selectedMaterialCode: "",
      selectedNgQty: 1,
      selectedChangedQty: 0,
      searchBackBoolean: false,
      selectedFirm: 1,
      selectedOtwQty: 0,
      pageClicking: 1,
    };
  },
  watch: {
    /**
     * 監看使用者在Modal中選擇的「類型」-> 顯示相對應的『物料編號』內容
     */
    selectedMaterialType: function(val) {
      this.materialsOptions = [];
      if (val !== "") {
        for (let i in this.materials) {
          if (this.materials[i].cid == val) {
            //使用者選到的value值等於category物料的圖名
            this.materialsOptions.push(this.materials[i]); //選到的圖名給使用者對應的物料
          }
        }
        // 改變成照字母排序
        this.materialsOptions.sort((a, b) => {
          const aName = a.name.toUpperCase();
          const bName = b.name.toUpperCase();
          return aName < bName ? -1 : 1;
        });
        if (!this.showEdit) {
          this.selectedMaterial = this.materialsOptions[0].id;
        }
      }
      // console.log(val);
    },
    /**
     * 監看使用者在Modal中選擇的「物料編號」-> 顯示相對應的庫存『數量』
     */
    selectedMaterial: function(val) {
      // console.log(val);
      //監看新選到的值與舊的值
      if (val !== "") {
        for (let i in this.materials) {
          //載入所有的materials
          if (this.materials[i].mid == val) {
            this.maxQuantity = this.materials[i].quantity; //給使用者選到的material的庫存數量會等於maxQuantity
            //使用者選到的value值等於materials物料的名字
            this.selectedMaterialCode = this.materials[i].code;
          }
        }
      }
      // console.log(val);
    },
  },
  methods: {
    /**
     * 在新增和編輯領料 Modal 中使用到，當使用者更新選擇的『物料』後，更新 maxQuantity (此物料的庫存量)
     */
    updateSelectedMaterial() {
      if (this.selectedMaterial !== 0) {
        for (let i in this.materials) {
          //載入所有的materials
          if (this.materials[i].mid == this.selectedMaterial) {
            this.maxQuantity = this.materials[i].quantity; //給使用者選到的material的庫存數量會等於maxQuantity
            //使用者選到的value值等於materials物料的名字
            this.selectedMaterialCode = this.materials[i].code;
          }
        }
      }
    },
    /**
     * 新增登記-步驟1
     * 使用者在頁面上點擊『新增登記』後執行
     * 1. 判斷登入人的權限，如果權限不夠時，只能選擇登入人本身，如果有管理權限，則可以選擇其他使用者
     * 2. 頁面先預選使用者標單的第一位
     */
    addExchangeModal() {
      //新增登記的按鈕
      this.resetValues();
      this.users = [];
      if (this.loggedInUserLevel == 1) {
        for (let i in this.dbUsers) {
          if (this.dbUsers[i].id == this.loggedInUserId) {
            //登入的ID等於資料庫裡的ID
            this.users.push(this.dbUsers[i]); //push自己ID，不能選其他人
            break;
          }
        }
      } else {
        this.users = this.dbUsers; //如果不是1等級，就都可以選
      }
      this.selectedUser = this.users[0].id; //預選第一個
      this.showAdd = true;
    },
    /**
     * 新增登記-步驟2
     * 使用者在『新增登記』Modal 中點擊『確認』按鈕後執行：
     * 1. 判斷輸入資訊
     * 2. 資料傳輸至後端做新增
     * 3. resetValues - 清空表單所填寫的資料，以便下一次的新增
     */
    add() {
      //新增領料單錯誤
      this.modalErrorMsg = "";
      if (!this.selectedMaterialType || !this.selectedMaterial || !this.selectedUser) {
        this.modalErrorMsg = "請輸入所有資訊";
        // } else if (this.selectedNgQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的損壞數量大於庫存");
        // } else if (this.selectedChangedQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的已換數量大於庫存");
        // } else if (this.selectedOtwQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的送中科院數量大於庫存");
      } else if (!Number.isInteger(this.selectedNgQty)) {
        this.toastMessage("error", "請輸入正整數");
      } else {
        // 拿到種類名字給log顯示用
        const categoryNameArr = [];
        this.materials.map((el) => {
          if (el.cid == this.selectedMaterialType) {
            categoryNameArr.push(el);
          }
        });
        const categoryNameInString = categoryNameArr[0].category;

        // 拿到物料名字給log顯示用
        const materialNameArr = [];
        this.materials.map((el) => {
          if (el.mid == this.selectedMaterial) {
            materialNameArr.push(el);
          }
        });
        const materialNameInString = materialNameArr[0].name;

        let formValues = {
          category: this.selectedMaterialType,
          name: this.selectedMaterial,
          user: this.selectedUser,
          ngqty: this.selectedNgQty,
          changedqty: this.selectedChangedQty,
          otw: this.selectedOtwQty,
          notes: this.notes,
          categoryNameInString: categoryNameInString,
          materialNameInString: materialNameInString,
        };
        this.addExchange(formValues);
        this.resetValues();
        this.showAdd = false;
      }
    },
    /**
     * 新增登記-步驟3
     * 傳輸欲新增的登記資料至後端，新增完後
     * 1. 顯示成功訊息 this.toastMessage("success", "成功")
     * 2. 呼叫 getRecordsOnKeywords 來重新顯示最新領料清單
     * 3. 呼叫 getAllMaterials 來取得最新的物料資料（主要是庫存數量）
     */
    async addExchange(exchange) {
      //新增領料單進後端
      addExchange(exchange).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "成功");
          this.getExchangesOnKeywords(this.pageClicking); //這裡叫出新排序的第一頁(即時顯示)
          this.getAllMaterials(); // 這裡更新物料數量
          this.showAdd = false;
        } else {
          this.toastMessage("error", "領料登記失敗");
        }
      });
    },
    /**
     * 編輯登記-步驟1
     * 使用 this.showEdit = true 開啟 modal
     * 傳入目前資料至Modal表單內
     */
    async editExchangeModal(exchange) {
      this.showEdit = true; // 開啟 Modal
      this.selectedId = exchange.id;
      this.selectedUser = exchange.user;
      this.selectedMaterialType = exchange.cid;
      this.selectedMaterial = exchange.mid;
      this.selectedNgQty = exchange.ngqty;
      this.selectedChangedQty = exchange.changedqty;
      this.selectedOtwQty = exchange.otw;
      this.notes = exchange.notes;
    },
    /**
     * 編輯登記-步驟2
     * 使用者在『編輯登記』Modal 中點擊『確認』按鈕後執行：
     * 1. 判斷輸入的數量有沒有超過庫存 selectedQuantity（目前填入的數量） beforeEditQuantity (之前的數量) maxQuantity（庫存數量）
     * 2. 傳送資料到後端
     */
    async editExchange() {
      //編輯的按鈕
      this.modalErrorMsg = "";
      if (!this.selectedMaterialType || !this.selectedMaterial || !this.selectedUser) {
        this.modalErrorMsg = "請輸入所有資訊";
        // } else if (this.selectedNgQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的損壞數量大於庫存");
        // } else if (this.selectedChangedQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的已換數量大於庫存");
        // } else if (this.selectedOtwQty > this.maxQuantity) {
        //   this.toastMessage("error", "輸入的送中科院數量大於庫存");
      } else if (!Number.isInteger(this.selectedNgQty)) {
        this.toastMessage("error", "請輸入正整數");
      } else {
        // 拿到種類名字給log顯示用
        const categoryNameArr = [];
        this.materials.map((el) => {
          if (el.cid == this.selectedMaterialType) {
            categoryNameArr.push(el);
          }
        });
        const categoryNameInString = categoryNameArr[0].category;

        // 拿到物料名字給log顯示用
        const materialNameArr = [];
        this.materials.map((el) => {
          if (el.mid == this.selectedMaterial) {
            materialNameArr.push(el);
          }
        });
        const materialNameInString = materialNameArr[0].name;

        let formValues = {
          id: this.selectedId,
          category: this.selectedMaterialType,
          name: this.selectedMaterial,
          user: this.selectedUser,
          ngqty: this.selectedNgQty,
          changedqty: this.selectedChangedQty,
          otw: this.selectedOtwQty,
          notes: this.notes,
          categoryNameInString: categoryNameInString,
          materialNameInString: materialNameInString,
        };
        editExchange(formValues).then((response) => {
          //編輯進資料庫
          if (response.code == 200) {
            this.toastMessage("success", "編輯成功");
            this.getExchangesOnKeywords(this.pageClicking);
            this.getAllMaterials(); // 這裡更新物料數量
            this.showEdit = false;
          } else {
            this.toastMessage("error", "編輯失敗");
          }
        });
      }
    },
    /**
     * 刪除登記-步驟1
     *
     */
    async deleteExchangeModal(id, category, name, ngqty, changedqty, otw) {
      //刪除的sweetAlert2
      await Swal.fire({
        title: "確定要刪除 - " + name,
        showCancelButton: true,
        confirmButtonText: "確定",
        cancelButtonText: "取消",
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteExchange(id, category, name, ngqty, changedqty, otw);
        }
      });
    },
    /**
     * 刪除登記-步驟2
     */
    deleteExchange(exchangeID, category, name, ngqty, changedqty, otw) {
      //刪除record資料
      deleteExchange(exchangeID, category, name, ngqty, changedqty, otw).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "刪除成功");
          this.getExchangesOnKeywords(this.pageClicking);
          this.getAllMaterials(); // 這裡更新物料數量
        } else {
          this.toastMessage("error", "刪除失敗");
        }
      });
    },
    /**
     * 關閉 Modal
     */
    cancel(close) {
      close();
    },
    /**
     * 重置使用者在Modal 輸入的資料
     */
    resetValues() {
      this.materialsOptions = [];
      this.selectedMaterialType = "";
      this.selectedMaterial = "";
      this.selectedMaterialCode = "";
      this.selectedNgQty = 0;
      this.selectedChangedQty = 0;
      this.selectedOtwQty = 0;
      this.notes = "";
      this.modalErrorMsg = "";
    },
    /**
     * 從後端傳入的materials中判斷出所有的物料類型，並提供給Modal中的下拉式選單使用
     */
    setMaterialCategory(materials) {
      this.materialCategoryOptions = [];
      let materialCategorySet = new Set();
      for (let i in materials) {
        if (!materialCategorySet.has(materials[i].category)) {
          materialCategorySet.add(materials[i].category);
        }
      }
      let i = 0;
      let option = {
        id: i++,
        name: "請選擇類型",
        val: "",
      };
      this.materialCategoryOptions.push(option);
      for (const category of materialCategorySet) {
        let option = {
          id: i++,
          name: category,
          val: i - 1,
        };
        this.materialCategoryOptions.push(option);
      }
    },
    /**
     * 後端
     * 從後端取得所有物料資料
     */
    getAllMaterials() {
      getAllMaterials().then((response) => {
        let materialData = response.data;
        this.materials = materialData;
        this.setMaterialCategory(this.materials);
        this.updateSelectedMaterial();
      });
    },
    /**
     * 後端
     * 從後端取得所有使用者資料
     */
    getAllUsers() {
      getAllUsers().then((response) => {
        this.dbUsers = response.data;
        this.selectedUser = this.dbUsers[0].name; //預選第一個
      });
    },
    /**
     * 後端
     * 使用者點擊頁數後，到後端取得相對應頁數的資料
     */
    pageClick(pageClicked) {
      this.pageClicking = pageClicked;
      this.getExchangesOnKeywords(pageClicked);
    },
    /**
     * 後端
     * 到後端取得相對應頁數的資料和關鍵字資料
     */
    getExchangesOnKeywords(page) {
      //呼叫後端抓到keyword要的records資料
      this.keywords = this.keywords.trim();
      getExchangesOnKeywords(page, this.keywords).then((response) => {
        this.exchanges = response.data;
      });
    },
    /**
     * 後端
     * 到後端取得所有的資料數量並以10頁為基準取得總頁數
     */
    getTotalDataCountOnKeywords() {
      //呼叫後端抓到所有records的資料，並除10，一頁10筆
      this.keywords = this.keywords.trim();
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.totalPageNum = Math.ceil(response.data / 10);
      });
    },
    /**
     * 後端
     * 取得目前登入使用者的資訊
     */
    getLogginedUser() {
      //每頁都要先執行判斷使用者權限
      getLogginedUser().then((response) => {
        if (response.code == 200) {
          this.loggedInUserLevel = response.data.level;
          this.loggedInUserId = response.data.id;
        } else {
          this.toastMessage("error", "使用者已經被登出，五秒鐘後會回到登入頁面");
          setTimeout(() => this.$router.push(response.redirectUrl), 5000); // 五秒後到登入畫面
        }
      });
    },
    /**
     * 顯示在頁面上的提醒訊息
     */
    toastMessage(icon, title) {
      //新增成功的訊息
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });
      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    /**
     * 根據使用者輸入的關鍵字
     * 1. 取得此關鍵字結果總頁數
     * 2. 取得此關鍵字結果資料
     */
    search() {
      //搜尋功能
      this.getExchangesOnKeywords(1);
      this.getTotalDataCountOnKeywords();
      this.searchBackBoolean = true;
    },
    searchBack() {
      this.keywords = "";
      this.searchBackBoolean = false;
      this.getExchangesOnKeywords(this.pageClicking);
      this.getTotalDataCountOnKeywords();
    },
  },
  mounted() {
    this.getExchangesOnKeywords(this.pageClicking);
    this.getTotalDataCountOnKeywords();
    this.getAllMaterials();
    this.getAllUsers();
    this.getLogginedUser();
  },
};
</script>

<style>
.w-90 {
  width: 90px;
}
.w-300 {
  width: 300px;
}
.w-242 {
  width: 242px !important;
}
.w-235 {
  width: 235px !important;
}
.h-50P {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section {
  margin-right: 1px;
  margin-bottom: 10px;
}
#category-input {
  width: 50px;
}
.swal2-html-container {
  padding-left: 55px;
  text-align: left;
}
/* .container {
  width: calc(100% - 15%);
  padding-left: 10%;
} */
.error-msg {
  color: #f78b8b;
}
.reminder {
  color: #f78b8b;
  font-size: 14px;
}
/* .table > tbody > tr > td:nth-child(5) > img {
  width: 100%;
}
.table > tbody > tr > td:nth-child(5) {
  width: 15%;
}
#file-input > img {
  width: 100%;
} */
</style>
