<template>
  <div class="container">
    <h2>料件交換總表 Exchange Database(前端控制版本)</h2>

    <!-- 搜尋按鈕 -->
    <div class="row float-right search-section">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="以類型/圖號查詢" aria-label="Search" v-model="keywords" />
      </form>
      <button @click="search" class="btn btn-primary">搜尋</button>
    </div>
    <br />

    <table class="table table-bordered table-hover table-responsive-sm">
      <thead>
        <tr>
          <th>類型</th>
          <th>圖號</th>
          <th>登記者</th>
          <th>損壞總數</th>
          <th>已換總數</th>
          <th>未換總數</th>
          <th>損壞率</th>
          <th>備註</th>
          <th>時間</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="exchange in tempTable" :key="exchange.id">
          <!-- key可以重新排序 -->
          <td>{{ exchange.category }}</td>
          <td>{{ exchange.name }}</td>
          <td>{{ exchange.username }}</td>
          <!-- SumOfNgQty -->
          <td>{{ exchange.ngqty }}</td>
          <!-- SumOfChangedQty -->
          <td>{{ exchange.changedqty }}</td>
          <!-- SumOfUnChangedQty -->
          <td>{{ exchange.ngqty - exchange.changedqty }}</td>
          <!-- SumOfDefectRate -->
          <td>{{ exchange.sumofdefectrate }}</td>
          <td>{{ exchange.notes }}</td>
          <td>{{ exchange.datetime }}</td>
        </tr>
      </tbody>
    </table>

    <!-- 分頁按鈕 -->
    <paginate :page-count="totalPageNum" :page-range="3" :margin-pages="2" :click-handler="pageClick" :prev-text="'<'" :next-text="'>'" :container-class="'pagination'" :page-class="'page-item'"> </paginate>
  </div>
</template>

<script>
import { getAllMaterials } from "../services/MaterialService";
import { getAllUsers } from "../services/UserService";
import { getLogginedUser } from "../services/LoginService";
import Paginate from "vuejs-paginate-next";
import { getExchangesOnKeywords, getTotalDataCountOnKeywords } from "../services/ExchangeService";
import Swal from "sweetalert2";

export default {
  name: "ExchangeSum",
  components: {
    paginate: Paginate,
  },
  data() {
    return {
      tempTable: [],
      exchanges: [], //顯示在表單上的所有登記資料
      materials: [], // 後端回傳的所有『物料』
      selectedMaterialType: "", //存取使用者在Modal上選擇的『類型』
      materialsOptions: [], //存取在Modal上『物料編號』的下拉式選單
      selectedMaterial: "", //存取使用者在Modal上選擇的『物料編號』
      selectedQuantity: 1, //存取使用者在Modal上輸入的『數量』
      materialCategoryOptions: [], //存取在Modal上『類型』的下拉式選單
      beforeEditQuantity: 0, //存取在編輯Modal上修改前的數量
      dbUsers: [], // 用於存取後端回傳的所有使用者
      users: [], // 用於顯示登入使用者可以看到的使用者
      selectedUser: "", //存取使用者在Modal上輸入的『登記者』
      notes: "", //存取使用者在Modal上輸入的『備註』
      selectedId: "", //存取正在編輯的item id
      modalErrorMsg: "", //顯示在Modal得錯錯誤訊息
      keywords: "", //存取使用者輸入的關鍵字
      totalPageNum: 1, //存取登記資料的總頁數
      showAdd: false, //是否顯示新增登記
      showEdit: false, //是否顯示編輯登記
      loggedInUserLevel: 1, //存取登入使用者的使用層級
      loggedInUserId: 1, //存取登入使用者的ID
      maxQuantity: 1, //存取目前修改的物料庫存
      minQuantity: 1, // 庫存編輯的最小數量
      selectedMaterialCode: "",
      selectedNgQty: 1,
      selectedChangedQty: 0,
    };
  },
  methods: {
    /**
     * 後端
     * 從後端取得所有物料資料
     */
    getAllMaterials() {
      getAllMaterials().then((response) => {
        let materialData = response.data;
        this.materials = materialData;
      });
    },
    /**
     * 後端
     * 從後端取得所有使用者資料
     */
    getAllUsers() {
      getAllUsers().then((response) => {
        this.dbUsers = response.data;
        this.selectedUser = this.dbUsers[0].name; //預選第一個
      });
    },
    /**
     * 後端
     * 使用者點擊頁數後，到後端取得相對應頁數的資料
     */
    pageClick(pageClicked) {
      this.getExchangesOnKeywords(pageClicked);
    },
    /**
     * 後端
     * 到後端取得相對應頁數的資料和關鍵字資料
     */
    getExchangesOnKeywords(page) {
      //呼叫後端抓到keyword要的records資料
      getExchangesOnKeywords(page, this.keywords).then((response) => {
        this.exchanges = response.data;

        // use Map()
        const map1 = new Map();
        //新增編輯刪除的時候也要再執行
        for (let i = 0; i < response.data.length; i++) {
          let names = response.data[i].name;
          if (map1.has(names)) {
            //合併重複的資料
            let currentData = map1.get(names);
            currentData.ngqty += response.data[i].ngqty;
            currentData.changedqty += response.data[i].changedqty;
            map1.set(names, currentData);
          } else {
            //無重複的資料
            map1.set(names, response.data[i]);
          }
        }
        //把map1推進tempTable
        for (let [key, value] of map1) {
          console.log(key);
          this.tempTable.push(value);
        }
      });
    },
    /**
     * 後端
     * 到後端取得所有的資料數量並以10頁為基準取得總頁數
     */
    getTotalDataCountOnKeywords() {
      //呼叫後端抓到所有records的資料，並除10，一頁10筆
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.totalPageNum = Math.ceil(response.data / 10);
      });
    },
    /**
     * 後端
     * 取得目前登入使用者的資訊
     */
    getLogginedUser() {
      //每頁都要先執行判斷使用者權限
      getLogginedUser().then((response) => {
        if (response.code == 200) {
          this.loggedInUserLevel = response.data.level;
          this.loggedInUserId = response.data.id;
        } else {
          this.toastMessage("error", "使用者已經被登出，五秒鐘後會回到登入頁面");
          setTimeout(() => this.$router.push(response.redirectUrl), 5000); // 五秒後到登入畫面
        }
      });
    },
    /**
     * 顯示在頁面上的提醒訊息
     */
    toastMessage(icon, title) {
      //新增成功的訊息
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });
      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    /**
     * 根據使用者輸入的關鍵字
     * 1. 取得此關鍵字結果總頁數
     * 2. 取得此關鍵字結果資料
     */
    search() {
      //搜尋功能
      this.getTotalDataCountOnKeywords();
      this.getExchangesOnKeywords(1);
    },
  },
  mounted() {
    this.getExchangesOnKeywords(1);
    this.getTotalDataCountOnKeywords();
    this.getAllMaterials();
    this.getAllUsers();
    this.getLogginedUser();
  },
};
</script>

<style>
.w-90 {
  width: 90px;
}
.w-300 {
  width: 300px;
}
.w-242 {
  width: 242px !important;
}
.w-235 {
  width: 235px !important;
}
.h-50P {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section {
  margin-right: 1px;
  margin-bottom: 10px;
}
#category-input {
  width: 50px;
}
.swal2-html-container {
  padding-left: 55px;
  text-align: left;
}
/* .container {
  width: calc(100% - 15%);
  padding-left: 10%;
} */
.error-msg {
  color: #f78b8b;
}
.reminder {
  color: #f78b8b;
  font-size: 14px;
}
/* .table > tbody > tr > td:nth-child(5) > img {
  width: 100%;
}
.table > tbody > tr > td:nth-child(5) {
  width: 15%;
}
#file-input > img {
  width: 100%;
} */
</style>
