<template>
  <div class="container">
    <div class="row d-flex justify-content-center mr-5">
      <div class="py-5 w-75">
        <div class="text-center">
          <div id="imgLayer" class="mb-5">
            <div class="login-img" id="chiperLogo"><img src="../assets/chiperLogo.png" /></div>
            <div class="login-img" id="ncsiLogo"><img src="../assets/National_Chung-Shan_Institute_of_Science_&_Technology_logo.png" /></div>
          </div>
        </div>
        
        <div class="login-wrap">

          <div id="h1" class="text-center">
            <h1>高倍率光學系統倉儲管理系統</h1>
          </div>

          <form @submit.prevent="userLogin" class="pt-4">
            <div class="form-group">
              <div class="d-flex align-items-center justify-content-center">
                <span class="fa fa-user" style="color: #ff7f00;"></span>
                <input type="text" class="form-control usernameInput" v-model="user.username" placeholder="帳號" />
              </div>
            </div>

            <div class="form-group">
              <div class="d-flex align-items-center justify-content-center">
                <span class="fa fa-lock" style="color: #ff7f00;"></span>
                <input type="password" class="form-control pwdInput" v-model="user.password" placeholder="密碼" />
              </div>
            </div>

            <div class="form-group pt-4">
              <button type="submit" class="form-control btn btn-dark rounded submitBtn">登入</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { userLogin, userLogout } from "../services/LoginService";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    toastMessage(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    userLogin() {
      if (!this.user.username) {
        this.toastMessage("error", "登入錯誤：請輸入帳號");
        return;
      }
      if (!this.user.password) {
        this.toastMessage("error", "登入錯誤：請輸入密碼");
        return;
      }
      userLogin(this.user.username, this.user.password)
        .then((response) => {
          // console.log(response);
          if (!response.includes("OK")) {
            this.toastMessage("error", response.msg);
          } else {
            this.$router.push("/Record"); //重新導入到Record頁，replace也可以
            // console.log(this.$router);
            // console.log(this.$router.push);
          }
        })
        .catch((error) => {
          let msg = "";
          if (error.message.includes("401")) {
            msg = "使用者密碼錯誤";
          }
          if (error.message.includes("403")) {
            msg = "此帳號已經在其他設備登入了，請先在其他設備登出後再嘗試重新登入";
          }
          this.toastMessage("error", "登入錯誤：" + msg);
        });
    },
  },
  mounted() {
    userLogout();
  },
};
</script>
<style>
.login-img img {
  width: 400px;
  margin: 10px;
}
#h1 {
  margin: 20px;
}
.form-control {
  /* height: 48px !important; */
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
}
.login-wrap {
  /* border-top: 4px dashed #ff7f00; */
  padding: 40px;
}
.usernameInput,
.pwdInput,
.submitBtn {
  height: 48px !important;
}
.marquee {
  /* width: 450px; */
  /* line-height: 50px; */
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 12s linear infinite;
  font-weight: 600;
  /* color: #ff7f00; */
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
</style>
