<template>
  <div class="container">
    <h2>個人頁面 Profile</h2>

    <!-- 個人資料區 -->
    <div class="container-xl px-4 mt-4">
      <hr class="mt-0 mb-4" />
      <div class="row">
        <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
            <div class="card-header">個人資料</div>
            <div class="card-body">
              <form>
                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (username)-->

                  <div class="col-md-6">
                    <label class="small mb-1" for="inputUsername">帳號</label>
                    <input class="form-control" id="inputUsername" type="text" v-model="profile.username" disabled />
                  </div>
                  <!-- Form Group (first name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName">姓名</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" v-model="profile.name" />
                  </div>
                </div>

                <!-- Form Group (email address)-->

                <!-- Form Row-->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (email address)-->

                  <div class="col-md-6">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Email" v-model="profile.email" @blur="validateEmail" />

                    <!-- v-model="profile.email" -->
                  </div>
                  <!-- Form Group (phone number)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputPhone">電話號碼</label>
                    <input class="form-control" id="inputPhone" type="tel" placeholder="電話號碼" v-model="profile.phone" @blur="validatePhone" />
                  </div>
                </div>

                <!-- Form Row -->
                <div class="row gx-3 mb-3">
                  <!-- Form Group (organization name)-->
                  <div class="col-md-6">
                    <label class="small mb-1" for="inputOrgName">系統權限</label>
                    <br />
                    <span v-if="profile.level == 2">一般使用者</span>
                    <span v-if="profile.level == 3">管理者</span>
                    <span v-if="profile.level == 4">超級管理者</span>
                  </div>
                </div>
                <!-- Save changes button-->
                <button class="btn" type="button" @click="updateProfile">
                  儲存
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- 修改密碼區 -->
        <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
            <div class="card-header">修改密碼</div>
            <div class="card-body">
              <!-- Profile picture image-->
              <label class="small mb-1" for="inputUsername">目前密碼</label>
              <input class="form-control" id="inputUsername" type="password" placeholder="目前密碼" v-model="currentPassword" />
              <label class="small mb-1" for="inputUsername">新密碼</label>
              <!-- label for的值與input須一致才會有關聯，亦或是label裡面包input寫法 -->
              <input class="form-control" id="inputUsername" type="password" placeholder="新密碼" v-model="newPassword" />
              <label class="small mb-1" for="inputUsername">新密碼確認</label>
              <input class="form-control" id="inputUsername" type="password" placeholder="新密碼確認" v-model="newPasswordConfirm" />
              <br />
              <!-- Profile picture upload button-->
              <button class="btn" type="button" @click="updatePassword">
                更新密碼
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getUserProfile, updateProfile, updatePassword } from "../services/UserService";
import Swal from "sweetalert2";

export default {
  name: "Profile",

  data() {
    return {
      profile: {},
      currentPassword: "",
      newPassword: "",
      newPasswordConfirm: "",
      email: "",
    };
  },
  methods: {
    toastMessage(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    getUserProfile() {
      getUserProfile()
        .then((response) => {
          if (response.code == 200) {
            this.profile = response.data[0];
          } else {
            this.toastMessage("error", "使用者已經被登出，五秒鐘後會回到登入頁面");
            setTimeout(() => this.$router.push(response.redirectUrl), 5000); // 五秒後到登入畫面
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    updateProfile() {
      //更新email資料，會進來這裡給錯誤訊息
      if (!this.validateEmail()) {
        //丟過來的如果是false會負負得正，執行下面指令
        this.toastMessage("error", "請輸入正確的email格式");
        return;
      }
      if (!this.validatePhone()) {
        this.toastMessage("error", "請輸入正確的電話號碼格式");
        return;
      }

      updateProfile(this.profile).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "個人資料編輯成功");
          // this.getUsersOnPage(1);
          this.getUserProfile();
        } else {
          this.toastMessage("error", "個人資料編輯失敗");
        }
      });
    },
    updatePassword() {
      //更新密碼的function
      if (!this.currentPassword || !this.newPassword || !this.newPasswordConfirm) {
        this.toastMessage("error", "請輸入所有資訊");
        return;
      } else if (this.newPasswordConfirm != this.newPassword) {
        this.toastMessage("error", "新密碼和確認不一致");
        return;
      }
      let password = {
        current: this.currentPassword,
        new: this.newPassword,
      };
      updatePassword(password).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "密碼更新成功");
          // this.getUsersOnPage(1);
          this.getUserProfile();
        } else {
          this.toastMessage("error", "密碼更新失敗");
        }
      });
    },
    validateEmail() {
      //驗證email的function
      // if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.profile.email)) {
      if (/^\w+([-]?\w+)*@\w+([-]?\w+)*(\.\w{2,3})+$/.test(this.profile.email)) {
        // eslint-disable-line
        return true;
      } else {
        return false;
      }
    },
    validatePhone() {
      //驗證電話號碼的function
      if (/\d{4}\d{3}\d{3}/.test(this.profile.phone) || /\d{2}-[2]\d{7}/.test(this.profile.phone)) {
        // eslint-disable-line
        return true;
      } else {
        return false;
      }
    },
  },
  mounted() {
    this.getUserProfile();
  },
};
</script>

<style>
body {
  margin-top: 20px;
  background-color: #f2f6fc;
  color: #69707a;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
</style>
