<template>
  <div class="container">
    <h2>領料登記 Record</h2>

    <!-- 新增按鈕 -->
    <div>
      <button type="button" class="btn" @click="addRecordModal">
        新增登記
      </button>
    </div>
    <br />

    <!-- 搜尋按鈕 -->
    <div class="row float-right search-section">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="以類型/圖號/圖名查詢" aria-label="Search" v-model="keywords" />
      </form>
      <button type="button" @click="search" class="btn ml-1">搜尋</button>
      <button v-if="searchBackBoolean == true && this.keywords !== ''" @click="searchBack" class="btn ml-1">返回</button>
    </div>
    <br />

    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="table-light">
        <tr>
          <th>類型</th>
          <th>圖號</th>
          <th>登記者</th>
          <th>數量</th>
          <th>備註</th>
          <th>時間</th>
          <th v-show="loggedInUserLevel > 2" class="text-center">編輯</th>
          <th v-show="loggedInUserLevel > 2" class="text-center">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in records" :key="record.id">
          <!-- key可以重新排序 -->
          <td>{{ record.category }}</td>
          <td>{{ record.name }}</td>
          <td>{{ record.username }}</td>
          <td>{{ record.quantity }}</td>
          <td>{{ record.notes }}</td>
          <td>{{ record.datetime }}</td>

          <!-- 編輯按鈕 -->
          <td v-show="loggedInUserLevel > 2" class="text-center">
            <button type="button" class="btn" @click="editRecordModal(record)">
              編輯
            </button>
          </td>

          <!-- 刪除按鈕 -->
          <td v-show="loggedInUserLevel > 2" class="text-center">
            <button type="button" class="btn" @click="deleteRecordModal(record.id, record.cid, record.mid, record.quantity, record.category, record.name)">
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 分頁按鈕 -->
    <paginate :page-count="totalPageNum" :page-range="3" :margin-pages="2" :click-handler="pageClick" :prev-text="'<'" :next-text="'>'" :container-class="'pagination'" :page-class="'page-item'"> </paginate>

    <!-- Add Popup modal -->
    <Modal v-model="showAdd" @confirm="add" @cancel="cancel">
      <template v-slot:title> 新增登記資訊 </template>
      <div>
        <div class="w-90 d-inline-block">類型：</div>
        <select id="category-input" class="swal2-select w-300 h-50P b-r-5 b-grey" v-model="selectedMaterialType">
          <option v-for="category in materialCategoryOptions" :key="category.id" :value="category.val">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div v-show="materialsOptions.length > 0">
        <div class="w-90 d-inline-block">圖號：</div>
        <select id="category-input" class="swal2-select w-300 h-50P b-r-5 b-grey" v-model="selectedMaterial">
          <option v-for="item in materialsOptions" :key="item.id" :value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">* 所選圖名為：{{ selectedMaterialCode }}</span>
      <div>
        <div class="w-90 d-inline-block">數量：</div>
        <input id="quantity-input" class="swal2-input w-242" type="number" v-model="selectedQuantity" :max="maxQuantity" :min="1" />
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== 5">* 目前場內數量：{{ dbSumOfRecordqty - dbSumOfNgqty - dbSumOfUsedqty }} , 已使用： {{ dbSumOfUsedqty }} , ng數量： {{ dbSumOfNgqty }} , </span>
      <span class="reminder" v-show="selectedMaterial !== ''">* 目前庫存數量：{{ maxQuantity }}</span>
      <br />
      <div>
        <div class="w-90 d-inline-block">登記者：</div>
        <select id="category-input" class="swal2-select w-300 h-50P b-r-5 b-grey" v-model="selectedUser">
          <option v-for="item in users" v-bind:value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <br />
      <div>
        <div class="w-90 d-inline-block">備註：</div>
        <textarea v-model="notes" class="swal2-textarea"></textarea>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <span class="error-msg">{{ modalErrorMsg }}</span>
        </div>
        <!-- Add Popup modal -->
      </div>
    </Modal>

    <!-- Edit Popup modal -->
    <Modal v-model="showEdit" @confirm="editRecord" @cancel="cancel">
      <template v-slot:title> 編輯登記資訊 </template>
      <div>
        <div class="w-90 d-inline-block">類型：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" id="category-input" v-model="selectedMaterialType" disabled>
          <option v-for="category in materialCategoryOptions" :key="category.id" :value="category.val">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div v-show="materialsOptions.length > 0">
        <div class="w-90 d-inline-block">圖號：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" v-model="selectedMaterial" disabled>
          <option v-for="item in materialsOptions" :key="item.id" :value="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== ''">* 所選圖名為：{{ selectedMaterialCode }}</span>
      <div>
        <div class="w-90 d-inline-block">數量：</div>
        <input class="swal2-input w-242" type="number" v-model="selectedQuantity" :max="maxQuantity" :min="minQuantity" />
      </div>
      <span class="reminder" v-show="selectedMaterial !== '' && selectedMaterialType !== 5">* 目前場內數量：{{ dbSumOfRecordqty - dbSumOfNgqty - dbSumOfUsedqty }} , 已使用： {{ dbSumOfUsedqty }} , ng數量： {{ dbSumOfNgqty }} , </span>
      <span class="reminder" v-show="selectedMaterial !== ''">* 目前庫存數量：{{ maxQuantity }}</span>
      <br />
      <div>
        <div class="w-90 d-inline-block">登記者：</div>
        <select class="swal2-select w-235 h-50P b-r-5 b-grey" v-model="selectedUser">
          <option v-for="item in dbUsers" v-bind:value="item.id" :key="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
      <br />
      <!-- <div id="file-input">
        <div class="w-90 d-inline-block">上傳圖片：</div>
          <button @click="$refs.fileInput.click()" class="swal2-select w-200 h-50P b-r-5 b-grey">上傳檔案</button>
          <input 
            type="file"
            style="display: none"
            id="file-input"
            ref="fileInput"
            @change="selectedFile"
          />
          <p>{{files}}</p>
          <img :src="files" />
      </div>
      <br /> -->
      <div>
        <div class="w-90 d-inline-block">備註：</div>
        <textarea id="notes-input" v-model="notes" class="swal2-textarea"></textarea>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <span class="error-msg">{{ modalErrorMsg }}</span>
        </div>
      </div>
    </Modal>

    <!-- Edit Popup modal -->
  </div>
</template>

<script>
import { getAllMaterials } from "../services/MaterialService";
import { getAllUsers } from "../services/UserService";
import { getLogginedUser } from "../services/LoginService";
import Modal from "../components/Modal";
import Paginate from "vuejs-paginate-next";
import { getRecordsOnKeywords, getTotalDataCountOnKeywords, addRecord, deleteRecord, editRecord, getSumOfRecordqty, getSumOfNgqty, getSumOfUsedqty } from "../services/RecordService";
import Swal from "sweetalert2";

export default {
  name: "Records",
  components: {
    paginate: Paginate,
    Modal,
  },
  data() {
    return {
      materials: [], // 後端回傳的所有『物料』
      materialCategoryOptions: [], //存取在Modal上『類型』的下拉式選單 //category
      selectedMaterialType: 1, //存取使用者在Modal上選擇的『類型』 //cid, number
      materialsOptions: [], //存取在Modal上『物料編號』的下拉式選單 //materials
      selectedMaterial: "", //存取使用者在Modal上選擇的『物料編號』 //mid, number
      selectedQuantity: "", //存取使用者在Modal上輸入的『數量』
      beforeEditQuantity: 0, //存取在編輯Modal上修改前的數量
      dbUsers: [], // 用於存取後端回傳的所有使用者
      users: [], // 用於顯示登入使用者可以看到的使用者
      selectedUser: "", //存取使用者在Modal上輸入的『登記者』
      notes: "", //存取使用者在Modal上輸入的『備註』
      selectedId: "", //存取正在編輯的item id
      modalErrorMsg: "", //顯示在Modal得錯錯誤訊息
      records: [], //顯示在表單上的所有登記資料
      keywords: "", //存取使用者輸入的關鍵字
      totalPageNum: 1, //存取登記資料的總頁數
      showAdd: false, //是否顯示新增登記
      showEdit: false, //是否顯示編輯登記
      loggedInUserLevel: 1, //存取登入使用者的使用層級
      loggedInUserId: 1, //存取登入使用者的ID
      maxQuantity: 1, //存取目前修改的物料庫存
      minQuantity: 1, // 庫存編輯的最小數量
      selectedMaterialCode: "",
      searchBackBoolean: false,
      pageClicking: 1,
      dbSumOfRecordqty: 0,
      dbSumOfNgqty: 0,
      dbSumOfUsedqty: 0,
    };
  },
  watch: {
    /**
     * 監看使用者在Modal中選擇的「類型」-> 顯示相對應的『物料編號』內容selectedMaterial
     */
    selectedMaterialType: function(val) {
      this.materialsOptions = [];
      if (val !== "") {
        for (let i in this.materials) {
          if (this.materials[i].cid == val) {
            //使用者選到的value值等於cid物料的類別
            this.materialsOptions.push(this.materials[i]); //選到的圖名給使用者對應的物料
          }
        }
        // 改變成照字母排序
        this.materialsOptions.sort((a, b) => {
          const aName = a.name.toUpperCase();
          const bName = b.name.toUpperCase();
          return aName < bName ? -1 : 1;
        });
        if (!this.showEdit) {
          // 種類-推其物料id的第一筆
          this.selectedMaterial = this.materialsOptions[0].id;
        }
      }
      // console.log(val);
    },
    /**
     * 監看使用者在Modal中選擇的「物料編號」-> 顯示相對應的庫存『數量』
     */
    selectedMaterial: function(val) {
      // console.log("mid: " + val);
      //監看新選到的值與舊的值
      if (val !== "") {
        for (let i in this.materials) {
          //載入所有的materials
          if (this.materials[i].mid == val) {
            //使用者選到的value值等於materials物料的id
            this.maxQuantity = this.materials[i].quantity; //給使用者選到的material的庫存數量會等於maxQuantity
            this.selectedMaterialCode = this.materials[i].code;
            this.getSumOfRecordqty(val);
            this.getSumOfNgqty(val);
            this.getSumOfUsedqty(val);
            // this.fabQty = this.dbSumOfRecordqty - this.dbSumOfNgqty - this.dbSumOfUsedqty;
          }
        }
      }
      // console.log(val);
    },
  },
  methods: {
    /**
     * 在新增和編輯領料 Modal 中使用到，當使用者更新選擇的『物料』後，更新 maxQuantity (此物料的庫存量)
     */
    updateSelectedMaterial() {
      if (this.selectedMaterial !== 0) {
        for (let i in this.materials) {
          //載入所有的materials
          if (this.materials[i].id == this.selectedMaterial) {
            //使用者選到的value值等於materials物料的名字
            this.maxQuantity = this.materials[i].quantity; //給使用者選到的material的庫存數量會等於maxQuantity
            this.selectedMaterialCode = this.materials[i].code;
          }
        }
      }
    },
    /**
     * 新增登記-步驟1
     * 使用者在頁面上點擊『新增登記』後執行
     * 1. 判斷登入人的權限，如果權限不夠時，只能選擇登入人本身，如果有管理權限，則可以選擇其他使用者
     * 2. 頁面先預選使用者標單的第一位
     */
    addRecordModal() {
      //新增登記的按鈕
      this.resetValues();
      this.users = [];
      if (this.loggedInUserLevel == 1) {
        for (let i in this.dbUsers) {
          if (this.dbUsers[i].id == this.loggedInUserId) {
            //登入的ID等於資料庫裡的ID
            this.users.push(this.dbUsers[i]); //push自己ID，不能選其他人
            break;
          }
        }
      } else {
        this.users = this.dbUsers; //如果不是1等級，就都可以選
      }
      this.selectedUser = this.users[0].id; //預選第一個
      this.showAdd = true;
    },
    /**
     * 新增登記-步驟2
     * 使用者在『新增登記』Modal 中點擊『確認』按鈕後執行：
     * 1. 判斷輸入資訊
     * 2. 資料傳輸至後端做新增
     * 3. resetValues - 清空表單所填寫的資料，以便下一次的新增
     */
    add() {
      //新增領料單錯誤
      this.modalErrorMsg = "";
      if (!this.selectedMaterialType || !this.selectedMaterial || !this.selectedUser || !this.selectedQuantity) {
        this.modalErrorMsg = "請輸入所有資訊";
      } else if (this.selectedQuantity > this.maxQuantity) {
        this.toastMessage("error", "輸入的數量大於庫存");
      } else if (this.selectedQuantity < this.minQuantity) {
        this.toastMessage("error", "輸入的數量小於庫存");
      } else if (!Number.isInteger(this.selectedQuantity)) {
        this.toastMessage("error", "請輸入正整數");
      // } else if (this.selectedQuantity <= this.dbSumOfRecordqty - this.dbSumOfNgqty - this.dbSumOfUsedqty && this.selectedMaterialType !== 5) {
      //   this.toastMessage("error", "輸入的數量小於等於場內數量");
      } else {
        // 拿到種類名字給log顯示用
        const categoryNameArr = [];
        this.materials.map((el) => {
          if (el.cid == this.selectedMaterialType) {
            categoryNameArr.push(el);
          }
        });
        const categoryNameInString = categoryNameArr[0].category;

        // 拿到物料名字給log顯示用
        const materialNameArr = [];
        this.materials.map((el) => {
          if (el.mid == this.selectedMaterial) {
            materialNameArr.push(el);
          }
        });
        const materialNameInString = materialNameArr[0].name;

        // 一包物件傳進後端
        let formValues = {
          cid: this.selectedMaterialType,
          mid: this.selectedMaterial,
          user: this.selectedUser,
          quantity: this.selectedQuantity,
          notes: this.notes,
          categoryNameInString: categoryNameInString,
          materialNameInString: materialNameInString,
        };
        this.addRecord(formValues);
        this.resetValues();
        this.showAdd = false;
      }
    },
    /**
     * 新增登記-步驟3
     * 傳輸欲新增的登記資料至後端，新增完後
     * 1. 顯示成功訊息 this.toastMessage("success", "成功")
     * 2. 呼叫 getRecordsOnKeywords 來重新顯示最新領料清單
     * 3. 呼叫 getAllMaterials 來取得最新的物料資料（主要是庫存數量）
     */
    async addRecord(record) {
      //新增領料單進後端
      addRecord(record).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "成功");
          this.getRecordsOnKeywords(this.pageClicking); //這裡叫出新排序的第一頁(即時顯示)
          this.getAllMaterials(); // 這裡更新物料數量
          this.showAdd = false;
        } else {
          this.toastMessage("error", "領料登記失敗");
        }
      });
    },
    /**
     * 編輯登記-步驟1
     * 使用 this.showEdit = true 開啟 modal
     * 傳入目前資料至Modal表單內
     */
    async editRecordModal(record) {
      this.showEdit = true; // 開啟 Modal
      this.selectedId = record.id;
      this.selectedUser = record.user;
      this.selectedMaterialType = record.cid;
      this.selectedMaterial = record.mid;
      this.selectedQuantity = record.quantity;
      this.beforeEditQuantity = record.quantity;
      this.notes = record.notes;
    },
    /**
     * 編輯登記-步驟2
     * 使用者在『編輯登記』Modal 中點擊『確認』按鈕後執行：
     * 1. 判斷輸入的數量有沒有超過庫存 selectedQuantity（目前填入的數量） beforeEditQuantity (之前的數量) maxQuantity（庫存數量）
     * 2. 傳送資料到後端
     */
    async editRecord() {
      //編輯的按鈕
      if (this.selectedQuantity - this.beforeEditQuantity > this.maxQuantity) {
        this.toastMessage("error", "超出庫存量");
        return;
      }
      // 拿到種類名字給log顯示用
      const categoryNameArr = [];
      this.materials.map((el) => {
        if (el.cid == this.selectedMaterialType) {
          categoryNameArr.push(el);
        }
      });
      const categoryNameInString = categoryNameArr[0].category;

      // 拿到物料名字給log顯示用
      const materialNameArr = [];
      this.materials.map((el) => {
        if (el.mid == this.selectedMaterial) {
          materialNameArr.push(el);
        }
      });
      const materialNameInString = materialNameArr[0].name;

      let formValues = {
        id: this.selectedId,
        cid: this.selectedMaterialType,
        mid: this.selectedMaterial,
        user: this.selectedUser,
        quantity: this.selectedQuantity,
        originalQty: this.beforeEditQuantity,
        notes: this.notes,
        categoryNameInString: categoryNameInString,
        materialNameInString: materialNameInString,
      };
      editRecord(formValues).then((response) => {
        //編輯進資料庫
        if (response.code == 200) {
          this.toastMessage("success", "編輯成功");
          this.getRecordsOnKeywords(this.pageClicking);
          this.getAllMaterials(); // 這裡更新物料數量
          this.showEdit = false;
        } else {
          this.toastMessage("error", "編輯失敗");
        }
      });
    },
    /**
     * 刪除登記-步驟1
     *
     */
    async deleteRecordModal(id, cid, mid, quantity, categoryName, name) {
      //刪除的sweetAleat
      await Swal.fire({
        title: "確定要刪除 - " + name,
        showCancelButton: true,
        confirmButtonText: "確定",
        cancelButtonText: "取消",
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteRecord(id, cid, mid, quantity, categoryName, name);
        }
      });
    },
    /**
     * 刪除登記-步驟2
     */
    deleteRecord(recordID, cid, mid, quantity, categoryName, name) {
      //刪除record資料
      deleteRecord(recordID, cid, mid, quantity, categoryName, name).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "刪除成功");
          this.getRecordsOnKeywords(this.pageClicking);
          this.getAllMaterials(); // 這裡更新物料數量
        } else {
          this.toastMessage("error", "刪除失敗");
        }
      });
    },
    /**
     * 關閉 Modal
     */
    cancel(close) {
      close();
    },
    /**
     * 重置使用者在Modal 輸入的資料
     */
    resetValues() {
      this.materialsOptions = [];
      this.selectedMaterialType = "";
      this.selectedMaterial = "";
      this.selectedQuantity = 1;
      this.notes = "";
      this.modalErrorMsg = "";
    },
    /**
     * 從後端傳入的materials中判斷出所有的物料類型，並提供給Modal中的下拉式選單使用
     */
    setMaterialCategory(materials) {
      this.materialCategoryOptions = [];
      let materialCategorySet = new Set();
      for (let i in materials) {
        if (!materialCategorySet.has(materials[i].category)) {
          materialCategorySet.add(materials[i].category);
        }
      }
      let i = 0;
      let option = {
        id: i++,
        name: "請選擇類型",
        val: "",
      };
      this.materialCategoryOptions.push(option);
      for (const category of materialCategorySet) {
        let option = {
          id: i++,
          name: category,
          val: i - 1,
        };
        this.materialCategoryOptions.push(option);
      }
    },
    /**
     * 後端
     * 從後端取得所有物料資料
     */
    getAllMaterials() {
      getAllMaterials().then((response) => {
        this.materials = response.data;
        this.setMaterialCategory(this.materials);
        this.updateSelectedMaterial();
      });
    },
    /**
     * 後端
     * 從後端取得所有使用者資料
     */
    getAllUsers() {
      getAllUsers().then((response) => {
        this.dbUsers = response.data;
        this.selectedUser = this.dbUsers[0].name; //預選第一個
      });
    },
    /**
     * 後端-暫時先放這，之後可以單獨移出成一個service
     * 從後端取得所有sumofrecordqty資料
     */
    getSumOfRecordqty(val) {
      getSumOfRecordqty(val).then((response) => {
        this.dbSumOfRecordqty = response.data[0].sumofrecordqty;
        // console.log("1.該項領料總數: " + this.dbSumOfRecordqty);
      });
    },
    /**
     * 後端-暫時先放這，之後可以單獨移出成一個service
     * 從後端取得所有sumofngqty資料
     */
    getSumOfNgqty(val) {
      getSumOfNgqty(val).then((response) => {
        this.dbSumOfNgqty = response.data[0].sumofngqty;
        // console.log("2.該項ng總數: " + this.dbSumOfNgqty);
      });
    },
    /**
     * 後端-暫時先放這，之後可以單獨移出成一個service
     * 從後端取得所有used資料
     */
    getSumOfUsedqty(val) {
      getSumOfUsedqty(val).then((response) => {
        this.dbSumOfUsedqty = response.data[0].sumofusedqty;
        // console.log("3.該項已使用總數: " + this.dbSumOfUsedqty);
      });
    },
    /**
     * 後端
     * 使用者點擊頁數後，到後端取得相對應頁數的資料
     */
    pageClick(pageClicked) {
      this.pageClicking = pageClicked;
      this.getRecordsOnKeywords(pageClicked);
    },
    /**
     * 後端
     * 到後端取得相對應頁數的資料和關鍵字資料
     */
    getRecordsOnKeywords(page) {
      //呼叫後端抓到keyword要的records資料
      this.keywords = this.keywords.trim();
      getRecordsOnKeywords(page, this.keywords).then((response) => {
        this.records = response.data;
      });
    },
    /**
     * 後端
     * 到後端取得所有的資料數量並以10頁為基準取得總頁數
     */
    getTotalDataCountOnKeywords() {
      //呼叫後端抓到所有records的資料，並除10，一頁10筆
      this.keywords = this.keywords.trim();
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.totalPageNum = Math.ceil(response.data / 10);
      });
    },
    /**
     * 後端
     * 取得目前登入使用者的資訊
     */
    getLogginedUser() {
      //每頁都要先執行判斷使用者權限
      getLogginedUser().then((response) => {
        if (response.code == 200) {
          this.loggedInUserLevel = response.data.level;
          this.loggedInUserId = response.data.id;
        } else {
          this.toastMessage("error", "使用者已經被登出，五秒鐘後會回到登入頁面");
          setTimeout(() => this.$router.push(response.redirectUrl), 5000); // 五秒後到登入畫面
        }
      });
    },
    /**
     * 顯示在頁面上的提醒訊息
     */
    toastMessage(icon, title) {
      //新增成功的訊息
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });
      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    /**
     * 根據使用者輸入的關鍵字
     * 1. 取得此關鍵字結果總頁數
     * 2. 取得此關鍵字結果資料
     */
    search() {
      //搜尋功能
      this.getRecordsOnKeywords(1);
      this.getTotalDataCountOnKeywords();
      this.searchBackBoolean = true;
    },
    searchBack() {
      this.keywords = "";
      this.searchBackBoolean = false;
      this.getRecordsOnKeywords(this.pageClicking);
      this.getTotalDataCountOnKeywords();
    },
  },
  mounted() {
    this.getRecordsOnKeywords(this.pageClicking);
    this.getTotalDataCountOnKeywords();
    this.getAllMaterials();
    this.getAllUsers();
    this.getLogginedUser();
  },
};
</script>

<style>
.w-90 {
  width: 90px;
}
.w-300 {
  width: 300px;
}
.w-242 {
  width: 242px !important;
}
.w-235 {
  width: 235px !important;
}
.h-50P {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section {
  margin-right: 1px;
  margin-bottom: 10px;
}
#category-input {
  width: 50px;
}
.swal2-html-container {
  padding-left: 55px;
  text-align: left;
}
/* .container {
  width: calc(100% - 15%);
  padding-left: 10%;
} */
.error-msg {
  color: #f78b8b;
}
.reminder {
  color: #f78b8b;
  font-size: 14px;
}
/* .table > tbody > tr > td:nth-child(5) > img {
  width: 100%;
}
.table > tbody > tr > td:nth-child(5) {
  width: 15%;
}
#file-input > img {
  width: 100%;
} */
</style>
