.header {
  padding: 2.5%;
  /* background-color: rgba(236, 118, 6, 0.575); */
  /* background-color: rgba(8, 8, 8, 0.782); */
  width: 100%;
  margin-bottom: 5%;
  /* border-top: 3px solid orange; */
  border-bottom: 5px double orange;
}

.header > h1 {
  font-size: 30px;
  text-align: center;
  color: orange;

}

.footer {
  padding: 2%;
  background-color: red;
  font-size: 50px;
  text-align: center;
  width: 100%
}

.dashboard {
  padding: 3% 1%;
}

h1 {
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgba(0, 119, 128, 0.719);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.pagination {
  justify-content: center;
}

/* .row {
  width: calc(100% - 250px);
  padding-left: 25px;
} */

.btn {
  /* color: #27293d;
  background-color: #FFAA00;
  border-color: #FFAA00; */
  color: #FFF;
  background-color: #27293d;
  border-color: #27293d;
}

.btn:hover {
  color: #27293d;
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.page-item.active .page-link {
  background-color: #27293d;
  border-color: #27293d;
}

.page-link {
  color: #ff7f00;
}

.search-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 15px;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  background-color: #27293d;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover,
.swal2-styled.swal2-cancel:hover {
  background-color: #ff7f00;
  color: #27293d;
}

.swal2-textarea,
.swal2-input {
  max-width: 50%;
}

/* th,
td {
  white-space: nowrap;
} */

/* ================================================== MediaQuery ================================================== */
/* @media screen and (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px) and (max-width: 1919.98px) {}

@media (min-width: 1920px) {} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1500px;
  }
}